<div class="sidebar">
  <div class="container sidebar-sticky">

    <div class="sidebar-about">
      <!-- <img src="/assets/robot.png"
           style="margin-left:1em; position:relative;left:px; top:-30px;bottom:5px; width: 60px; height: auto; display: inline"> -->
      <img src="/assets/nlpwshiyi.png"
        style="width: 250px;position:relative; height: auto; display: inline">
      <h1 style="font-size:1em; opacity: 0.95;"><a href="/">Natural Language Processing w Shiyi S.</a></h1>
    </div>

    <nav class="sidebar-nav">

      <div class="week">Introduction</div>
      <!-- <a class="sidebar-nav-item {{ispage /modules/privacy-preserving-ML}}active{{end}}"
      href="/modules/privacy-preserving-ML">
        <b>Part One - </b><em>Information Theory</em>
      </a> -->

      <a class="sidebar-nav-item {{ispage /modules/info-theory}}active{{end}}"
      href="/modules/info-theory.md">
        <b>Part One - </b><em>Information Theory</em>
      </a>

      <a class="sidebar-nav-item {{ispage /modules/}}active{{end}}"
      href="/modules/">
        <b>Part Two - </b><em>Computationalism vs Connectionism</em>
      </a>


      <a class="sidebar-nav-item {{ispage /modules/}}active{{end}}"
      href="/modules/">
        <b>Part Three - </b><em>Modern Natural Language Processing</em>
      </a>

      <!-- Week 1 starts here -->

      <div class="week">NLP before AI</div>

      <a class="sidebar-nav-item {{ispage /modules/1-intro-general-overview}}active{{end}}"
         href="/modules/1-intro-general-overview">
        <b>Topic 1</b> - <em>Introduction & General Overview</em>
      </a>

      <a class="sidebar-nav-item {{ispage /modules/2a-pytorch-tensors}}active{{end}}"
         href="/modules/2a-pytorch-tensors">
        <b>Topic 2a</b> - <em>PyTorch tensors</em>
      </a>

      <a class="sidebar-nav-item {{ispage /modules/2b-automatic-differentiation}}active{{end}}"
         href="/modules/2b-automatic-differentiation">
        <b>Topic 2b</b> - <em>Automatic differentiation</em>
      </a>
       <a class="sidebar-nav-item {{ispage /modules/2c-jax}}active{{end}}"
         href="/modules/2c-jax">
        <b>Topic 2c</b> - <em>Automatic differentiation: VJP and intro to JAX</em>
      </a>
      <!-- Week 1 ends here -->

      <!-- Week 2 starts here -->


      <div class="week">NLP with AI</div>
      <a class="sidebar-nav-item {{ispage /modules/1-intro-general-overview}}active{{end}}"
      href="/modules/1-intro-general-overview">
     <b>Topic 1</b> - <em>Introduction & General Overview</em>
   </a>

   <a class="sidebar-nav-item {{ispage /modules/2a-pytorch-tensors}}active{{end}}"
      href="/modules/2a-pytorch-tensors">
     <b>Topic 2a</b> - <em>PyTorch tensors</em>
   </a>

   <a class="sidebar-nav-item {{ispage /modules/2b-automatic-differentiation}}active{{end}}"
      href="/modules/2b-automatic-differentiation">
     <b>Topic 2b</b> - <em>Automatic differentiation</em>
   </a>
    <a class="sidebar-nav-item {{ispage /modules/2c-jax}}active{{end}}"
      href="/modules/2c-jax">
     <b>Topic 2c</b> - <em>Automatic differentiation: VJP and intro to JAX</em>
   </a>
      <a class="sidebar-nav-item {{ispage /modules/3-loss-functions-for-classification}}active{{end}}"
         href="/modules/3-loss-functions-for-classification">
        <b>Topic 3</b> - <em>Loss functions for classification</em>
      </a>

      <a class="sidebar-nav-item {{ispage /modules/4-optimization-for-deep-learning}}active{{end}}"
         href="/modules/4-optimization-for-deep-learning">
        <b>Topic 4</b> - <em>Optimization for DL</em>
      </a>

      <a class="sidebar-nav-item {{ispage /modules/5-stacking-layers}}active{{end}}"
         href="/modules/5-stacking-layers">
        <b>Topic 5</b> - <em>Stacking layers</em>
      </a>

            <!-- Week 2 ends here -->

      <!-- Week 3 starts here -->
      <div class="week">Math for DL/ML</div>

      <a class="sidebar-nav-item {{ispage /modules/6-convolutional-neural-network}}active{{end}}"
         href="/modules/6-convolutional-neural-network">
        <b>Topic 6</b> - <em>Convolutional neural network</em>
      </a>

      <a class="sidebar-nav-item {{ispage /modules/7-dataloading}}active{{end}}"
         href="/modules/7-dataloading">
        <b>Topic 7</b> - <em>Dataloading</em>
      </a>

      <a class="sidebar-nav-item {{ispage /modules/8a-embedding-layers}}active{{end}}"
         href="/modules/8a-embedding-layers">
        <b>Topic 8a</b> - <em>Embedding layers</em>
      </a>

      <a class="sidebar-nav-item {{ispage /modules/8b-collaborative-filtering}}active{{end}}"
         href="/modules/8b-collaborative-filtering">
        <b>Topic 8b</b> - <em>Collaborative filtering</em>
      </a>

      <a class="sidebar-nav-item {{ispage /modules/8c-word2vec}}active{{end}}"
      href="/modules/8c-word2vec">
     <b>Topic 8c</b> - <em>Word2vec</em>
   </a>
      <!-- Week 3 ends here -->
      <!-- Week 4 starts here -->
      <!-- <div class="week">Unit 4</div> -->
      <a class="sidebar-nav-item {{ispage /modules/9a-autoencoders}}active{{end}}"
         href="/modules/9a-autoencoders">
        <b>Topic 9a</b> - <em>Autoencoders</em>
      </a>
      <a class="sidebar-nav-item {{ispage /modules/9b-unet}}active{{end}}"
         href="/modules/9b-unet">
        <b>Topic 9b</b> - <em>UNets</em>
      </a>
      <a class="sidebar-nav-item {{ispage /modules/9c-flows}}active{{end}}"
         href="/modules/9c-flows">
        <b>Topic 9c</b> - <em>Flows</em>
      </a>

      <a class="sidebar-nav-item {{ispage /modules/10-generative-adversarial-networks}}active{{end}}"
         href="/modules/10-generative-adversarial-networks">
        <b>Topic 10</b> - <em>Generative adversarial networks</em>
      </a>

      <!-- Week 4 ends here -->
      <!-- Week 5 starts here -->
      <!-- <div class="week">Unit 5</div> -->
      <a class="sidebar-nav-item {{ispage /modules/11a-recurrent-neural-networks-theory}}active{{end}}"
         href="/modules/11a-recurrent-neural-networks-theory">
        <b>Topic 11a</b> - <em>Recurrent Neural Networks (theory)</em>
      </a>

      <a class="sidebar-nav-item {{ispage /modules/11b-recurrent-neural-networks-practice}}active{{end}}"
         href="/modules/11b-recurrent-neural-networks-practice">
        <b>Topic 11b</b> - <em>RNN in practice</em>
      </a>
      <a class="sidebar-nav-item {{ispage /modules/11c-batches-with-sequences}}active{{end}}"
         href="/modules/11c-batches-with-sequences">
        <b>Topic 11c</b> - <em>Batches with sequences in Pytorch</em>
      </a>
      <!-- Week 5 ends here -->
      <!-- Unit 6 starts here -->
      <!-- <div class="week">Unit 6</div> -->
      <a class="sidebar-nav-item {{ispage /modules/12-attention}}active{{end}}"
         href="/modules/12-attention">
        <b>Topic 12</b> - <em>Attention and Transformers</em>
      </a>
      <a class="sidebar-nav-item {{ispage /modules/13-siamese}}active{{end}}"
         href="/modules/13-siamese">
        <b>Topic 13</b> - <em>Siamese Networks and Representation Learning</em>
      </a>
      <a class="sidebar-nav-item {{ispage /modules/14a-depth}}active{{end}}"
         href="/modules/14a-depth">
        <b>Topic 14a</b> - <em>The Benefits of Depth</em>
      </a>
      <a class="sidebar-nav-item {{ispage /modules/14b-depth}}active{{end}}"
          href="/modules/14b-depth">
      <b>Topic 14b</b> - <em>The Problems with Depth</em>
      </a>
      <a class="sidebar-nav-item {{ispage /modules/15-dropout}}active{{end}}"
          href="/modules/15-dropout">
      <b>Topic 15</b> - <em>Dropout</em>
      </a>
      <a class="sidebar-nav-item {{ispage /modules/16-batchnorm}}active{{end}}"
          href="/modules/16-batchnorm">
      <b>Topic 16</b> - <em>Batchnorm</em>
      </a>
      <a class="sidebar-nav-item {{ispage /modules/17-resnets}}active{{end}}"
          href="/modules/17-resnets">
      <b>Topic 17</b> - <em>Resnets</em>
      </a>
      <a class="sidebar-nav-item {{ispage /modules/18a-diffusion}}active{{end}}"
          href="/modules/18a-diffusion">
      <b>Topic 18a</b> - <em>Denoising Diffusion Probabilistic Models</em>
      </a>

      <!-- <div class="week">Unit 7</div>-->

      <!-- Unit 6 ends here -->
      <!-- Unit 7 starts here -->

      <div class="week">Homeworks</div>

      <a class="sidebar-nav-item {{ispage /homework/1-mlp-from-scratch}}active{{end}}"
          href="/homework/1-mlp-from-scratch">
          <b>Homework 1</b> - <em>MLP from scratch</em>
      </a>

      <a class="sidebar-nav-item {{ispage /homework/2-CAM-adversarial}}active{{end}}"
          href="/homework/2-CAM-adversarial">
          <b>Homework 2</b> - <em>Class Activation Map and adversarial examples</em>
      </a>

      <a class="sidebar-nav-item {{ispage /homework/3-VAE}}active{{end}}"
          href="/homework/3-VAE">
          <b>Homework 3</b> - <em>VAE for MNIST clustering and generation</em>
      </a>

      <div class="week">Bonus</div>
      <a class="sidebar-nav-item {{ispage /modules/12-intro-julia}}active{{end}}"
      href="/modules/12-intro-julia">
     <b>Topic</b> - <em>Intro to Julia: Autodiff with dual numbers</em>
    </a>
    <a class="sidebar-nav-item {{ispage /modules/graph1}}active{{end}}"
         href="/modules/graph0">
        <b>Topic</b> - <em>Deep learning on graphs</em>
      </a>

      <a class="sidebar-nav-item {{ispage /modules/graph1}}active{{end}}"
         href="/modules/graph1">
        <b>Graph</b> - <em>Node embeddings</em>
      </a>
      <a class="sidebar-nav-item {{ispage /modules/graph2}}active{{end}}"
         href="/modules/graph2">
        <b>Graph</b> - <em>Signal processing on graphs</em>
      </a>
      <a class="sidebar-nav-item {{ispage /modules/graph3}}active{{end}}"
         href="/modules/graph3">
        <b>Graph</b> - <em> Graph embeddings and GNNs</em>
      </a>

      <a class="sidebar-nav-item {{ispage /modules/extras/GCN_inductivebias_spectral}}active{{end}}"
         href="/modules/extras/GCN_inductivebias_spectral">
        <b>Post</b> - <em>Spectral GCN</em>
      </a>
      <a class="sidebar-nav-item {{ispage /modules/extras/convfirst}}active{{end}}"
         href="/modules/extras/Convolutions_first">
        <b>Post</b> - <em>Convolutions from first principles</em>
      </a>
      <a class="sidebar-nav-item {{ispage /modules/extras/invariant_equivariant}}active{{end}}"
         href="/modules/extras/invariant_equivariant">
        <b>Post</b> - <em>Invariant and equivariant networks</em>
      </a>

      <a class="sidebar-nav-item {{ispage /modules/extras/graph_invariant}}active{{end}}"
         href="/modules/extras/graph_invariant">
        <b>Graph</b> - <em>Exploiting Graph Invariants in Deep Learning</em>
      </a>

      <!-- <div class="week">Guest Lectures</div>

      <a class="sidebar-nav-item {{ispage /modules/privacy-preserving-ML}}active{{end}}"
      href="/modules/privacy-preserving-ML">
     <b>Privacy Preserving ML</b> - <em>Daniel Huynh</em> -->
   </a>

    </nav>
  </div>
</div>
<div class="content container">
